<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  

        <h3><%=majd.name%></h3>
        <img src="<%=majd.img%>" alt="">
        <h3><%=majd.level%></h3>

        <form action="/update/<%majd.id%?_method=put" method="POST">

            <input type="text" name="name" value="<%=val.name%> ">
            <input type="text" name="img" value="<%val.img%> ">
            <input type="text" name="level" value="<%val.level%> ">
            <input type="submit" value="update">
        </form>

        <form action="/delete/<%majd.id%?_method=delete" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
    <%})%>


</body>
</html>