<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% degetal.forEach(val=>{%>

        <h3><%=val.name%></h3>
        <img src="<%=val.img%>" alt="">
        <h3><%=val.level%></h3>

       <button> <a href="/ditales/<%=val.id%>"></a></button>
    </div>
    <%})%></body>
</html>